<link rel="stylesheet" href="/styles/footer.css">
<div class="footer-container">
    <div class="footer">

        <div class="footer-heading footer-1">
            <h1>Quality rentals to get you moving!</h1>
            <a href="#">We automatically know your need</a>
            <a href="#">Just few clicks away!</a>


        </div>

        <div class="footer-heading footer-2">
            <div class="icon">RENT-<b style="color: red;">I</b>T<b> Makers</b></div>
            <a href="#">Aeiman Imtiaz</a>
            <a href="#">Sana Fatima Ammad</a>
            <a href="#">Azka Asim</a>
        </div>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-whatsapp"></a>



    </div>
</div>
</body>

</html>