<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/nicepage1.css" media="screen">
    <link href="/styles/switchmodule.css" rel="stylesheet" type="text/css">
    <link href="/styles/host.css" rel="stylesheet" type="text/css">
    <link href="/styles/home.css" rel="stylesheet" type="text/css">
    <!-- <link href="/styles/userprofile.css" rel="stylesheet" type="text/css"> -->
    <link href="/styles/profile.css" rel="stylesheet" type="text/css">
    <link href="/styles/updateprofile.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Rent IT</title>
</head>

<body>
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">RENT-<b style="color: red;">I</b>T</div>
        <!-- <div class="search_box">
            <input type="search" placeholder="Search Here">
            <span class="fa fa-search"></span>
        </div> -->
        <ol>
            <li>
                <a href="/hosts">home</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/hostuserprofile">account</a>
            </li>
            <li>
                <a href="/logout">logout</a>
            </li>
            <li>
                <a href="/switch">switch</a>
            </li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>


    <section>