<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Filter By:">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>filter</title>
    <link rel="stylesheet" href="/styles/nicepage.css" media="screen">
    <link rel="stylesheet" href="styles/filter.css" media="screen">
    <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.7.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="filter">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-bd45">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">


              <!-- <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">

                  
                </div>
              </div> -->


              <div class="u-container-style u-layout-cell u-size-17 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">

                  <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <h2 class="u-text u-text-default u-text-1">Filter By:</h2>
                    </div>
                  </div>


                  <div class="u-border-3 u-border-palette-1-base u-container-style u-group u-group-2">
                    <div class="u-container-layout u-container-layout-3">
                      <h4 class="u-text u-text-default u-text-2">Price Rs (Per Night<span style="font-weight: 400;"></span>)
                      </h4>
                      <div class="u-form u-form-1">
                       
                       
                        <form action="/auth/filter" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                          <div class="u-form-group u-form-name u-label-none u-form-group-1">
                            <label for="name-6797" class="u-label">Min Price</label>
                            <input type="text" placeholder="Min Price" id="name-6797" name="minprice" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                          </div>
                          <div class="u-form-group u-label-none u-form-group-2">
                            <label for="email-6797" class="u-label">Max Price</label>
                            <input type="text" placeholder="Max Price" id="email-6797" name="maxprice" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="required">
                          </div>
                           <div class="u-align-right u-form-group u-form-submit u-form-group-3">
                            <!-- <button class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-9 u-btn-1" type="submit" value="Submit" id="submit-btn">Save</button> -->
                            <!-- <a class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-9 u-btn-1">Save</a> -->
                            <!-- <input type="submit" value="submit" class="u-form-control-hidden"> -->
                          </div>
                          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                        <!-- </form> -->


                      </div>
                    </div>
                  </div>
                  <div class="u-border-3 u-border-palette-1-base u-container-style u-group u-group-3">
                    <div class="u-container-layout u-container-layout-4">
                      <h4 class="u-text u-text-default u-text-3">Property Type</h4>
                      <div class="u-form u-form-2">
                        
                        <form action="/auth/filter" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form1" style="padding: 10px;">
                          <div class="u-form-group u-form-select u-form-group-4">
                            <label for="select-3e71" class="u-label">Select One</label>
                            <div class="u-form-select-wrapper">
                              <select id="select-3e71" name="propertytype" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                <option value="None">None</option>
                                <option value="Apartment">Apartment</option>
                                <option value="House">House</option>
                                <option value="Bed and Bath">Bed and Bath</option>
                              </select>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               
              <div class="u-container-style u-layout-cell u-size-43 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-5"><span class="u-file-icon u-icon u-icon-1"><img src="images/148917.png" alt=""></span>
                  <div class="u-border-3 u-border-palette-1-base u-container-style u-group u-group-4">
                    <div class="u-container-layout u-container-layout-6">
                      <h4 class="u-text u-text-default u-text-4">Anemeties</h4>
                      <h6 class="u-custom-font u-font-open-sans u-text u-text-default u-text-5"><b>Select Atleast One</b></h6>
                      <div class="u-form u-form-3">
                        <form action="/auth/filter" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-1" style="padding: 10px;">
                          
                          
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-6">
                            <input type="checkbox" id="checkbox-5491" name="pool" value="On">
                            <label for="checkbox-5491" class="u-label">Pool</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-7">
                            <input type="checkbox" id="checkbox-e74f" name="wifi" value="On">
                            <label for="checkbox-e74f" class="u-label">WiFI</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-8">
                            <input type="checkbox" id="checkbox-75ca" name="hottub" value="On">
                            <label for="checkbox-75ca" class="u-label">Hot tub</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-9">
                            <input type="checkbox" id="checkbox-7a58" name="tv" value="On">
                            <label for="checkbox-7a58" class="u-label">TV</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-10">
                            <input type="checkbox" id="checkbox-e2a8" name="BBQ" value="On">
                            <label for="checkbox-e2a8" class="u-label">BBQ Grill</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-11">
                            <input type="checkbox" id="checkbox-b610" name="ac" value="On">
                            <label for="checkbox-b610" class="u-label">Air Conditioning</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-12">
                            <input type="checkbox" id="checkbox-b4fc" name="firepit" value="On">
                            <label for="checkbox-b4fc" class="u-label">Fire Pit</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-13">
                            <input type="checkbox" id="checkbox-e7de" name="washer" value="On">
                            <label for="checkbox-e7de" class="u-label">Washer</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-14">
                            <input type="checkbox" id="checkbox-1cf5" name="diningarea" value="On">
                            <label for="checkbox-1cf5" class="u-label">Outdoor Dining Area</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-15">
                            <input type="checkbox" id="checkbox-d7d1" name="kitchen" value="On">
                            <label for="checkbox-d7d1" class="u-label">Kitchen</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-16">
                            <input type="checkbox" id="checkbox-ebfa" name="fireplace" value="On">
                            <label for="checkbox-ebfa" class="u-label">Indoor Fireplace</label>
                          </div>
                          <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-17">
                            <input type="checkbox" id="checkbox-dc70" name="parking" value="On">
                            <label for="checkbox-dc70" class="u-label">Free Parking</label>
                          </div>
                           <div class="u-align-right u-form-group u-form-submit">
                            <!-- <a class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-9 u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Save<br></a> -->
                            <!-- <input type="submit" value="submit" class="u-form-control-hidden"> -->
                          </div>
                          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                        <!-- </form> -->
                      </div>
                    </div>
                  </div>
                  <button class="u-border-none u-btn u-btn-round u-button-style u-gradient u-none u-radius-50 u-text-body-alt-color u-btn-4" type="submit" value="Submit" id="submit-btn">Filter</button>
                  <!-- <input type="submit" value="submit" class="u-form-control-hidden" onclick="/auth/filter" /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <%- include ('_footer') -%>