<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Switch Mode</title>
    <link rel="stylesheet" href="/styles/switchmodule.css">
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<div class="wrapper">
    <div class="side left">
        <div class="image host"></div>
            <div class="caption">
                <h1>HOST</h1>
                <a class="button" href="/host">Add Your Property</a> 
            </div>
    </div>
    <div class="side right">
        <div class="image guest"></div>

            <div class="caption">
                <h1>GUEST</h1>
                <a class="button" href="/guests">Rent A Property</a>
            </div>

            

    </div>
</div>

</body>

</html>