
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.wrapper{
    display: flex;
}

.wrapper .left,
.wrapper .right {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center ;

}

.wrapper .left{
    background: rgb(255, 255, 255);
}

.wrapper .right{
    background: rgb(255, 255, 255);
}

.wrapper .image{
    width: 93%;
    height: 93%;
    background-size: cover ;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s ease all;

}

.host{
    background:url(../images/8.jpg);
}

.guest{
    background:url(../images/6.jpg);
}



.wrapper .caption{
    position: relative;
    z-index: 10;
    color: rgb(0, 0, 0);
    text-align: center;
}

.wrapper .caption h1{
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom:1em;
    font-weight: 800;

}

.wrapper .caption .button{
    background: #ffd346;
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 3em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s ease all;
    
    
}

.wrapper .caption .button:hover{

background:#848484 ;
color: #000;
}

.wrapper .side::before{
    background-color: rgba(255, 255, 255, 0.473);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
}

.wrapper .left:hover .image,
.wrapper .right:hover .image{
    transform: scale(1.2);
}

@media screen and (min-width:1200px){
    .wrapper{
        display: flex;
    }
    
    .wrapper .left,
    .wrapper .right {
        width: 50%;
        height: 100vh;
    
    }
}
